body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/938610.jpg);
  color: white;
}

a {
  color: #00b7ff;
  text-decoration: none;
}
button {
  border-radius: 5px;
  color: #00b7ff;
}
